extends layout

block content
  div(class:'login')
    h2 Login
    ul
     li 
       a(href='/auth/github', class='btn btn-block btn-social btn-github') 
         span(class='fa fa-github') 
         | Login With Github
