$main-color: #29abe0;
$danger-color: #d9534f;

html, body {
  height: 100%;
}
p {
  margin: inherit;
}
a {
  color: #0078e1;
  &:hover {
    color: #0078e1;
  }
}

#container {
  min-height: 100%;
  position: relative;
}
.main-content {
  margin: 0 15%;
  padding: 20px 20px 280px 20px;
}

input, textarea {
  font-size: 1.4em;
  padding: 10px;
  border: 1px solid #999;
  width: 100%;
  &:focus {
    border: 1px solid #666;
  }
  &[type=radio],&[type=checkbox] {
    width: inherit;
  }
}

form {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 20px;
      textarea {
        height: 200px;
      }
    }
  }
}

.danger {
  color: $danger-color;
}

section {
  font-size: 1.5em;
  blockquote, code, ul {
    margin-top: 20px;
  }
  blockquote {
    padding: 2px 20px;
  }
}

.nav {
  text-transform: lowercase;
  font-size: 1.1em;
  .navbar-header a {
    font-size: 1.3em;
  }
  .navbar-header a em {
    color: $main-color;
  }
}

.login {
  max-width: 400px;
  .btn {
    font-size: 1.2em;
    padding: 10px 12px 10px 46px;
  }
  .btn-social > :first-child {
    line-height: 44px;
    width: 38px;
  }
}

.search {
  position: relative;
  display: inline-block;
  input {
    font-size: 1.4em;
    padding: 5px;
  }
  span {
    position: absolute;
    font-size: 1.4em;
    right: 8px;
    top: 10px;
    color: #aaa;
  }
}
.form-group {
  position: relative;
  span {
    position: absolute;
    font-size: 1.4em;
    right: 8px;
    top: 12px;
    color: #aaa;
  }
  input {
    padding-right: 30px;
  }
}

.admin {
  .actions {
    .search {
      float: right;
      margin-top: 8px;
    }
    .search:after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  article {
    display: block;
    border: 1px solid #999;
    padding: 5px 5px 5px 10px;
    margin: 10px 0;
    height: 100px;
    section {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    header {
      display: block;
      h2 {
        width: 90%;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
      }
      .actions {
        float: left;
        display: inline-block;
        width: 10%;
        text-align: right;
        a {
          font-size: 1.5em;
          padding: 8px;
        }
      }
      &:after {
        content: " ";
        display: block;
        clear: both;
      }
    }
  }
}

.edit {
  form {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        padding-bottom: 20px;
        textarea {
          height: 300px;
        }
      }
    }
    .preview {
      width: 100%;
      height: 300px;
      border: 1px solid #999;
      overflow-y: auto;
      padding: 10px;
    }
  }
}

.paginate {
  font-size: 1.3em;
  .previous {
    font-size: 1.2em;
    display: inline-block;
    margin-right: 7px;
  }
  .next {
    font-size: 1.2em;
    display: inline-block;
    margin-left: 7px;
  }
}

.post {
  margin-bottom: 20px;
  header {
    h1 {
      margin: 0;
      padding: 0;
    }
    time {
      font-style: italic;
    }
    .tags {
      font-style: italic;
    }
  }
  section {
    margin-top: 20px;
  }
  footer {
    margin-top: 20px;
    a {
      font-size: 1.4em;
      span {
        float: left;
      }
      span.link-text {
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .previous-link {
      float: left;
      width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
      span.fa {
        margin-right: 10px;
        font-size: 1.1em;
      }
    }
    .next-link {
      float: right;
      width: 50%;
      text-align: right;
      span.fa {
        margin-left: 10px;
        font-size: 1.1em;
      }
    }
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
}

.index {
  article {
    section {
      p {
        display: inline-block;
      }
    }
  }
}

.code {
  article header h3 {
    margin-bottom: 0;
  }
  .github {
    color: #e08a3e;
    margin-bottom: 10px;
    .message {
      font-weight: 500;
    }
    .author {
      font-style: italic;
    }
  }
}

.info {
  color: #e08a3e;
}

.music {
  article header h3 {
    margin-bottom: 0;
  }
  .info {
    margin-bottom: 10px;
  }
}

.about {
  font-size: 1.3em;
  img {
    float: left;
    border: 1px solid #666;
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  h3 {
    margin-top: 0;
  }
}

#react-alert {
  font-size: 1.4em;
}

#container > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  &.alert {
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
  }
  .biopic, nav {
    margin: 0 15%;
  }
  .biopic {
    img {
      float: left;
    }
    p {
      float: left;
      margin: 35px 0 0 30px;
      width: 75%;
      font-size: 1.2em;
    }
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
  .footer-nav {
    padding-top: 20px;
    width: 375px;
    margin: 0 auto;
    p {
      text-align: center;
    }
    nav {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      text-align: center;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          float: left;
          &:after {
            content: "|";
            display: inline-block;
            margin: 0 20px;
          }
          &:last-child:after {
            content: "";
            margin: 0 0;
          }
        }
      }
      &:after {
        content: " ";
        display: block;
        clear: both;
      }
    }
  }
}

.errors {
  text-align: center;
  background: white;
  padding:  20px;
  margin-bottom: 40px;
  h1 {
    margin-top: 0;
  }
}

@media(max-width:768px) {
  .main-content{
    margin: 0;
    padding-bottom: 230px;
  }
  .post footer a span.link-text {
    width: 80%;
  }
  .about {
    h3 {
      clear: both;
    }
  }
  #container > footer {
    .biopic {
      margin: 0 0;
      img {
        width: 75px;
        height: 75px;
      }
      p {
        font-size: 1.0em;
        margin: 0 0 0 15px;
        width: 72%;
      }
    }
    .footer-nav {
      margin-top: 10px;
      width: 100%;
      nav {
        margin: 0 auto;
        width: 260px;
        font-size: 1.0em;
        ul {
          margin: 0 auto;
          li:after {
            margin: 0 10px;
          }
        }
      }
      p {
        margin-top: 0;
      }
    }
  }
}

/* enables CSS3 transition for simple collapses, accordion and also navbar in responsive view */
.collapse { transition: height .3s ease-out; /*-webkit-transition: height .3s ease-out*/ }

/* styles the close button for the dismissible popovers */
.popover .close { position: absolute; top: 7px; right: 10px; }
