$main-color: #29abe0;

.nav {
  text-transform: lowercase;
  font-size: 1.1em;
  .navbar-header a {
    font-size: 1.3em;
  }
  .navbar-header a em {
    color: $main-color;
  }
}

.main-content {
  padding: 20px;
}

.login {
  max-width: 400px;
  .btn {
    font-size: 1.2em;
    padding: 10px 12px 10px 46px;
  }
  .btn-social > :first-child {
    line-height: 44px;
    width: 38px;
  }
}
