.nav {
  text-transform: lowercase;
  font-size: 1.1em; }
  .nav .navbar-header a {
    font-size: 1.3em; }
  .nav .navbar-header a em {
    color: #29abe0; }

.main-content {
  padding: 20px; }

.login {
  max-width: 400px; }
  .login .btn {
    font-size: 1.2em;
    padding: 10px 12px 10px 46px; }
  .login .btn-social > :first-child {
    line-height: 44px;
    width: 38px; }
